//中侧边栏
aside.middle{
  min-width: 80px;
  max-width: 80px;
  border-top: 10px solid #8c53ff;
  box-shadow: 0 0 10px rgba(0,0,0,0.05), 1px 0 rgba(0,0,0,0.05), -1px 0 rgba(0,0,0,0.05);
  .search{
    margin: 10px;
    padding: 18px 0;
    border: 1px solid #eee;
    border-radius: 10px;
    text-align: center;
    color: #333;
    cursor: pointer;
    i{
      font-weight: bold;
      font-size: 20px;
      color: #333;
    }
  }
  ul{
    margin-top: 20px;
    text-align: center;
    li{
      position: relative;
      margin: 0 20px 4px 20px;
      padding: 21px 10px;
      cursor: pointer;
      &:hover{
        border-radius: 10px;
        background-color: rgba(0,0,0,.1);
      }
      i{
        font-size: 22px;
        font-weight: 400;
      }
      .bubble{
        position: absolute;
        content: "";
        top: 16px;
        left: 50px;
        width: 0;
        font-size: 18px;
        letter-spacing: 2px;
        color: white;
        background-color: #333;
        border-radius: 3px;
        transition: .3s ease;
        span{
          display: none;
        }
        a{
          display: none;
          color: white;
        }
        &:before{
          position: absolute;
          top: 9px;
          left: -14px;
          content: "";
          border: 7px solid transparent;
          border-right-color: #333;
          opacity: 0;
          transition: .3s ease;
        }
      }
      &:hover .bubble{
        width: auto;
        padding: 5px;
      }
      &:hover .bubble:before{
        opacity: 1;
      }
      &:hover .bubble > span{
        display: block;
      }
      &:hover .bubble > a{
        display: block;
      }
    }
    .search_a{
      &::after{
        position: absolute;
        content: "";
        left: 5px;
        right: 5px;
        bottom: -3px;
        border-bottom: 1px solid rgba(0,0,0,.1);
      }
    }
  }
}